* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none; 
    user-select: none;
	box-sizing: border-box;
}

body {
    background-color: #000000;
    margin: 0;
    cursor: move;
    overflow: hidden;
    height: 100%; /* force the BODY element to match the height of the HTML element */
}

a {
	color: #ffffff;
}

html {
    min-height: 100%; /* make sure it is at least as tall as the viewport */
    position: relative;
}

img {
    max-width: 100%;
}



